body{
    background-color: azure;
    margin-left: 0;
    margin-right: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkgrey;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    position: relative; 
}

.logo {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: auto; 
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu li {
    margin-left: 25px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    
}

.menu li a:hover {
    background-color: #7a7a7a;
}

.kep-container {
    position: relative;  
    width: 100%;
    max-height: 525px;  
    overflow: hidden;   
}

#kep {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#VOLVO_MODELLEK{
    margin-top: 70px;
    margin-left: 50px;
}

#modell_szoveg{
    margin-left: 50px;
    font-family: system-ui;
}

#suv{
    margin-top: 50px;
    margin-left: 50px;
    font-family: system-ui;
    font-weight: normal;
    text-align: left;
}

#suv_szoveg{
    margin-left: 50px;
    font-family: system-ui;
}

.kocsi_kartyak{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.kocsi_kartya{
    position: relative;   
    display: block; 
    transition: transform 0.3s;
    margin-bottom: 30px;
}

.kocsi_kartya img , .kocsi_kartya_also img{
    display: block;
    width: 250px; 
    transition: transform 0.3s;
    cursor: pointer;
}


.kocsi_kartya:hover , .kocsi_kartya_also:hover{
    transform: scale(1.05);
}

.kocsi_kartya .kocsi_nev , .kocsi_kartya_also .kocsi_nev {
  position: absolute;  
  top: -35px;           
  left: 25px;          
}

.kocsi_nev {
    font-family: Impact;
    font-size: 25px
}



#xc40_fokep{
    width: 100%;
}

#fokep{
    position: relative;
}

#XC40_h{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 45px;
    font-family: sans-serif;
}

#XC60_h{
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 45px;
    font-family: sans-serif;
    color: white;
}

#xc60_hh{
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

#VOLVO_xc{
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}

h2{
    text-align: center;
}

.volvo_szoveg{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.container_container{
    position: relative;
}

.container {
    display: flex;                
    justify-content: space-between;
    gap: 100px;                  
    max-width: 1200px;         
    margin-top: 50px;
    margin: auto;             
    padding-top: 50px;
    }

.text_box {
    flex: 1;                   
    font-family: Arial, sans-serif;
    padding-top: 5%;
}

.image_box {
    flex: 1;                   
    display: flex;
}

.image_box img {
    width: 100%;                
    height: auto;
    border-radius: 10px;        
}

.video_container{
    position: relative;
}

.video_container video{
    padding-top: 10%;
    width: 90%;
    margin-left: 5%;
}

#xc60_video_text_container{
    position: absolute;
    margin-left: 5%;
    font-size: 29px;
    font-style: italic;
    margin-top: 30px;
}

#nagy_napok_h{
    margin-top: 5%;
    margin-left: 5%;
}

#xc60_kepek_container img{
    width: 30%;
}

#xc60_h_video_container{
    position: absolute;
    margin-left: 5%;
    font-size: 29px;
    padding-bottom: 30px;
}

#xc40_recharge_fokep{
    width: 100%;
}

#XC40_recharge_h{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 45px;
    font-family: sans-serif;
    color: white;
}

#recharge_hh{
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.xc40_ules img{
    margin-left: 5%;
    width: 90%;
}

.xc40_ules{
    position: relative;
}

.xc40_ules_szoveg{
    position: absolute;
    left: 35%;
    text-align: center;
    font-size: 20px;
}