body{
    background-color: azure;
}

#kep{
    width: 1440px;
}

#VOLVO_MODELLEK{
    margin-top: 70px;
    margin-left: 50px;
}

#modell_szoveg{
    margin-left: 50px;
    font-family: system-ui;
}

#suv{
    margin-top: 50px;
    margin-left: 50px;
    font-family: system-ui;
    font-weight: normal;
}

#suv_szoveg{
    margin-left: 50px;
    font-family: system-ui;
}

.kocsi_kartyak{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.kocsi_kartya{
    position: relative;   
    display: block; 
}

.kocsi_kartya_also{
    position: relative;   
    display: block; 
    top: 15px;
}

.kocsi_kartya img , .kocsi_kartya_also img{
    display: block;
    width: 250px; 
    transition: transform 0.3s;
    cursor: pointer;
}


.kocsi_kartya img:hover , .kocsi_kartya_also img:hover{
    transform: scale(1.05);
}

.kocsi_kartya .kocsi_nev , .kocsi_kartya_also .kocsi_nev {
  position: absolute;  
  top: -35px;           
  left: 25px;          
}

.kocsi_nev {
    font-family: Impact;
    font-size: 25px
}



#xc40_fokep{
    width: 100%;
}